.home-main {
    display: grid;
    grid-template-columns:  1fr 4fr;
}

.home-personnel-list {
    background-color: rgb(221, 221, 221);
}

.personnel-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 30px;
    padding: 20px;
}

.personnel-list-header h2 {
    color: #32BDBF;
}

.personnel-list-header p {
    margin-top: 4px;
    color: rgb(180, 180, 180);
}

.utility {
    display: flex
}

.add-personnel-btn {
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    background-color: #32BDBF;
    color: white;
}

.plus {
    font-size: 30px;
    margin-left: 8px;
    margin-right: -3px;
    color: white;
    transform: translateY(-3px) 
}