.card {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 0px 10px;
}

.card-id {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(180, 180, 180);
  padding-bottom: 5px;
}

.card-id p {
  display: inline-block;
  color: rgb(180, 180, 180);
}

.card-id img {
  width: 25px;
}

.card-id strong {
  color: #32bdbf;
  margin-left: 4px;
  font-weight: normal;
}

.card-img {
  margin: 0 auto !important;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.card div {
  margin: 10px 0;
}

.card div p {
  color: rgb(180, 180, 180);
  font-size: 14px;
  margin-top: 2px;
}
